@model Customer
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EF Core Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <h1>Create Customers</h1>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <form asp-controller="Customers" asp-action="Create" method="post">
                    <div class="mb-3">
                        <div asp-validation-summary="ModelOnly"></div>
                        <label asp-for="FirstName" class="form-label">FirstName</label>
                        <input asp-for="FirstName" type="text" class="form-control">
                        <span asp-validation-for="FirstName"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="LastName" class="form-label">LastName</label>
                        <input asp-for="LastName" type="text" class="form-control">
                        <span asp-validation-for="LastName"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="NationalId" class="form-label">NationalId</label>
                        <input asp-for="NationalId" type="number" class="form-control">
                        <span asp-validation-for="NationalId"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" type="email" class="form-control">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Phone" class="form-label">Phone</label>
                        <input asp-for="Phone" type="tel" class="form-control">
                        <span asp-validation-for="Phone"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>